apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: order-service-monitor
  namespace: valerix
  labels:
    app: order-service
    release: monitoring
spec:
  selector:
    matchLabels:
      app: order-service
  endpoints:
  - port: http
    path: /metrics
    interval: 15s
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: inventory-service-monitor
  namespace: valerix
  labels:
    app: inventory-service
    release: monitoring
spec:
  selector:
    matchLabels:
      app: inventory-service
  endpoints:
  - port: http
    path: /metrics
    interval: 15s
